*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	color: #3a3438;
	
}
img{
	vertical-align: top;
	width: 100%;
}
.navbar,.content{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.navbar_left{
	float: left;
	margin-left: 46px;
}
.navbar_right{
	float: right;
	margin-right: 46px;
	line-height: 80px;
}

.navbar_right li{
	float: left;
	width: 120px;
	text-align: center;
	height: 78px;
}
.navbar_right li a{
	color: #333333;
	font-size: 20px;
}
.navbar_right li:hover{
	border-bottom: 2px solid #866961;
}
.navbar_right li:hover a{
	color:#866961 ;
}
.banner{
	width: 100%;
	height: 260px;
	background-image: url(../img/company/公司简介_03.png) ;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
.zhechenzhao{
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	display: none;
}
.banner:hover .zhechenzhao{
	display: block;
}
.banner h1:first-child{
	margin-left: 315px;
	margin-top: 85px;
	font-size: 46px;
}
.banner h1:first-child span{
	font-size: 30px;
	margin-left: 12px;
}
.banner h1:last-child{
	font-size: 30px;
}
.banner h1:last-child span{
	font-size: 24px;
	margin-left: 10px;
	margin-right: 180px;
}
.banner h1 hr{
	vertical-align: middle;
	width: 284px;
	display: inline-block;
	color: #ffffff;
	margin: 0 12px;
}
.content_top{
	width: 995px;
	margin: 0 auto;
	border-bottom: solid;
	border-color: #d5d5d5;
	
}
.content_top ul{
	float: right;
}
.content_top ul li{
	float: left;
}

.content_top ul li a{
	font-size: 14px;
	color: #999999;
}
.content_top ul li:nth-child(1) a{
	color: #333333;
}
.content_top ul li:nth-child(4) a{
	color: #333333;
}
.content_top i{
	display: inline-block;
	font-style: normal;
	height: 9px;
	width: 2px;
	background: #866961;
}
.content_top i:nth-child(3){
	margin-left: 56px;
}
.content_top i:nth-child(5){
	margin-left: 56px;
}
.content_top span:nth-child(2){
	font-size: 16px;
	display: inline-block;
	margin-top: 35px;
}
.spanpublic{
	font-size: 12px;
	color: #866961;
}
.content_top span:nth-child(9){
	    margin-left: 30px;
}
.content_top span:nth-child(10){
	    margin-left: 55px;
}
.content_one{
	width: 995px;
	margin: 0 auto;
	margin-top: 28px;
}
.content_one span:nth-child(1){
	font-size: 24px;
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;
	color: #866961;
}
.content_one i{
	display: inline-block;
	font-style: normal;
	height: 7px;
	width: 1px;
	background: #866961;
	vertical-align: middle;
}
.content_one span:nth-child(15){
	font-size: 14px;
	margin: 0 25px 0 61px;
	display: inline-block;
	vertical-align: middle;
	color: #866961;
}
.content_one span:nth-child(16){
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	color: #866961;
}
.hrpublic{
	display: block;
	width: 785px;
	float: right;
	background: #f2f2f2;
	vertical-align: middle;
}

.content>i:nth-child(3){
	display: inline-block;
	font-style: normal;
	height: 58px;
	width: 1px;
	background: #d5d5d5;
	margin:10px 100px 10px 125px;
}
.content_two{
	width: 785px;
	float: right;
	margin-top: -50px;
    margin-right: 102px;
}
.spanpublic_one{
	font-size: 14px;
	margin: 0 22px 0 0;
	display: inline-block;
	margin-bottom: 8px;
	color: #999999;
}
.spanpublic_two{
	font-size: 14px;
	display: inline-block;
	margin-bottom: 8px;
	color: #999999;
}
.content_three{
	margin-top: 0px;
}
.content_three span,.content_three i{
	color: #999999!important;
}
.content>i:nth-child(6){
	display: inline-block;
	font-style: normal;
	height:121px;
	width: 1px;
	background: #d5d5d5;
	margin:10px 100px 10px 125px;
}
.content_four{
	margin-top: -110px;
}
.content_five{
	margin-top: -50px;
}
.content_six{
	    margin-top: 0px;
}
.content_six span,.content_six i{
	color: #999999!important;
}
.content>i:nth-child(10){
	display: inline-block;
	font-style: normal;
	height:58px;
	width: 1px;
	background: #d5d5d5;
	margin:10px 100px 10px 125px;
}
.content_seven{
	    margin-top: -50px;
}
.content_eight{
	margin-top: 0px;
}
.content_eight span,.content_eight i{
	color: #999999!important;
}
.content>i:nth-child(13){
	display: inline-block;
	font-style: normal;
	height:135px;
	width: 1px;
	background: #d5d5d5;
	margin:10px 100px 10px 125px;
}
.content_nine{
    margin-top: -130px;
}
.content_ten{
	margin-top: -75px;
}
footer{
	clear: both;
	height: 78px;
	margin-top: 40px;
	background: #866961;
}
footer div:first-child{
	width:1200px;
	margin: 0 auto;
	
}
footer div p{
	margin-left: 66px;
	display: inline-block;
	margin-top: 40px;
	font-size: 14px;
	color:#f7f6f6;
}
footer img{
	width: 144px;
	height: 78px;
	margin-left: 182px;
}