*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	color: #3a3438;
	
}
img{
	vertical-align: top;
	width: 100%;
}
.navbar,.content{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.navbar_left{
	float: left;
	margin-left: 46px;
}
.navbar_right{
	float: right;
	margin-right: 46px;
	line-height: 80px;
}

.navbar_right li{
	float: left;
	width: 120px;
	text-align: center;
	height: 78px;
}
.navbar_right li a{
	color: #333333;
	font-size: 20px;
}
.navbar_right li:hover{
	border-bottom: 2px solid #866961;
}
.navbar_right li:hover a{
	color:#866961 ;
}
.banner{
	height: 260px;
	background-image: url(../img/product/产品1_02.png) ;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
.banner h1:first-child{
	margin-left: 315px;
	margin-top: 85px;
	font-size: 30px;
}
.banner h1:last-child{
	font-size: 30px;
}
.banner h1:last-child span{
	font-size: 24px;
	margin-left: 10px;
}
.banner h1 hr{
	vertical-align: middle;
	width: 284px;
	display: inline-block;
	color: #ffffff;
	margin: 0 12px;
}
.banner h1:hover{
	transform: rotate(360deg);
}
.content_top{
	width: 995px;
	margin: 0 auto;
	border-bottom: solid;
	border-color: #d5d5d5;
	
}
.content_top ul{
	float: right;
}
.content_top ul li{
	float: left;
}

.content_top ul li a{
	font-size: 14px;
	color: #999999;
}
.content_top ul li:nth-child(1) a{
	color: #333333;
}
.content_top ul li:nth-child(4) a{
	color: #333333;
}
.content_top i{
	display: inline-block;
	font-style: normal;
	height: 9px;
	width: 2px;
	background: #866961;
}
.content_top span:nth-child(2){
	font-size: 16px;
	display: inline-block;
	margin-top: 35px;
}
.content_top span:nth-child(4){
	font-size: 12px;
	color: #866961;
}
.content_left{
	float: left;
	margin-left: 102px;
	margin-top: 25px;
}
.content_left img{
	width: 429px;
	
}
.content_right{
	float: right;
	width: 530px;
	margin-right: 102px;
	font-size: 15px;
}
.content_right p{
	margin-top: 30px;
	text-indent: 2em;
	line-height: 32px;
	text-align: justify;
}
footer{
	clear: both;
	height: 78px;
	margin-top: 40px;
	background: #866961;
}
footer div:first-child{
	width:1200px;
	margin: 0 auto;
	
}
footer div p{
	margin-left: 66px;
	display: inline-block;
	margin-top: 40px;
	font-size: 14px;
	color:#f7f6f6;
}
footer img{
	width: 144px;
	height: 78px;
	margin-left: 182px;
}